<!--
  ng-pattern regex for email sourced from:
  stackoverflow.com/questions/23671934/form-validation-email-validation-not-working-as-expected-in-angularjs
-->
<ion-view view-title="Road Trip">
  <ion-content class="padding">
  <h3 class="balanced">PROFILE
  </h3>
  <form ng-submit="editProfile()" name="ProfileEdits">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" name="username" ng-model="profileInfo.username" required/>
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" name="name" ng-model="profileInfo.name" required/>
        </label>
        <label class="item item-input">
          <span class="input-label">City</span>
          <input type="text" name="city" ng-model="profileInfo.city"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" name="email" ng-model="profileInfo.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required/>
        </label>
      </div>
      <div class="padding">
        <p class="assertive" ng-show="ProfileEdits.name.$error.required">
        *Gotta have a name!
        </p>
        <p class="assertive" ng-show="ProfileEdits.username.$error.required">
        *What's in a username? EVERYTHING!
        </p>
        <p class="assertive" ng-show="!ProfileEdits.email.$valid">
        *Invalid Email!
        </p>
        <p class="assertive">{{badResult}}</p>
      <input type="submit" class="button button-outline button-balanced" value="Submit"/>
      <p class="balanced">{{result}}</p>
    </div>
    <a class="button icon-right ion-chevron-right button-block button-energized" href="#tab/trips" align="left">TRIPS</a>
  </ion-content>
</ion-view>
