<!--
 regex for valid decimals and angular.js form validation inspired by:
  gsferreira.com/archive/2015/02/angularjs-input-number-with-two-decimal-places/
-->
<ion-view view-title="Edit Trip">
  <ion-content class="padding">
  <h3 class="balanced">DAY</h3>
  <form ng-submit="editDay()" name="DayEdits">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" name="name" ng-model="day.name" required/>
        </label>
        <label class="item item-input">
          <span class="input-label">Source</span>
          <input type="text" ng-model="day.source"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Destination</span>
          <input type="text" ng-model="day.destination"/>
        </label>
          <label class="item item-input">
          <span class="input-label">Miles</span>
          <input type="number" name="miles" min="0" ng-model="day.miles" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
        </label>
        <label class="item item-input">
          <span class="input-label">Time</span>
          <input type="number" name="time" min="0" ng-model="day.time" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"/>
        </label>
      </div>
      <div class="padding">
        <p class="assertive" ng-show="DayEdits.name.$error.required">
        *Give your trip a name!
        </p>
        <p class="assertive" ng-show="!DayEdits.miles.$valid">
        *Miles needs to be a valid decimal!
        </p>
        <p class="assertive" ng-show="!DayEdits.time.$valid">
        *Time needs to be a valid decimal!
        </p>
      </div>
      <input type="submit" class="button button-outline button-balanced" value="Submit"/>
    </form>
    <div>
      <p class="balanced" >{{result}}</p>
    </div>
    <ion-list class="padding">
    <h3 class="balanced">Photos
    </h3>
    <button class="button button-small button-outline button-balanced" ng-click="addPhoto()">
        Take New Photo
    </button>
      <ion-item class="padding" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/editDay/{{day.key}}">
        <p>{{photo.photo}}</p>
        <img ng-src="{{photo.photoSrc}}" style="max-width: 100%"/>
      </ion-item>
    </ion-list>
    <div>
      <form method="POST" enctype="multipart/form-data" ng-submit="submitPhoto()">
        <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
        <input type="submit" value="Add Photo">
      </form>
    </div>
<!--    <ion-list class="padding">
    <h3 class="balanced">Days
      <a href="#tab/addDay"><i class="ion-android-add" href="#/tab/addDay"></i></a>
    </h3>
      <ion-item ng-repeat="day in days" type="item-text-wrap" href="#/tab/editDay/{{day.key}}">
        <p>{{day.name}}</p>
      </ion-item>
    </ion-list>
-->  </ion-content>
</ion-view>
